@import url("https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900& display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Container h1 {
  font-size: 36px;
  color: #fff;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
}

.nav a {
  position: relative;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
}
.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.5s;
}
.nav a:hover::after {
  transform: scaleX(1);
}
.Container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("background.jpg") no-repeat;
  background-size: cover;
  display: flex;
  display: flex;
  align-items: center;
  background-position: center;
  padding-left: 80px;
  padding-top: 30px;
}

.wrapper {
  background: rgb(32, 32, 32);
  border-radius: 25px;
  padding: 30px 50px 50px;
  border-width: 1px;
  border: solid;
  border-color: lightgray;
}
.input-box {
  color: white;
  position: relative;
  width: 280px;
  height: 40px;
  margin: 28px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 40px;
  padding: 0 0px 0 45px;
  color: #fff;
}

.input-box ::placeholder {
  padding-left: 10px;
  color: lightcoral;
}

.input-box i {
  position: absolute;
  top: 10px;
  left: 19px;
  font-size: 1.2em;
  color: #fff;
}

.rad {
  color: #fff;
  font-size: medium;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(29, 155, 240);
  color: #fff;
  transition: 0.25s;
}

.flash {
  text-align: center;
  color: red;
}

.remember label input {
  accent-color: #fff;
  margin-right: 3px;
  cursor: pointer;
}

.remember label {
  color: #fff;
  font-size: 13.5px;
}

.remember {
  margin-bottom: 10px;
}

.register-link {
  margin-top: 10px;
  text-align: center;
}

.register-link p {
  color: #fff;
  font-size: 13.5px;
}

.register-link a {
  color: rgb(29, 155, 240);
}
