.Order_Menu {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 20px 0px 20px 0px;
}
.Order_Menu a {
  text-decoration: none;
  color: white;
}
.Order_Title {
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: blue;
  line-height: 50px;
}
.Order_Quantity {
  height: 130px;
  width: 80%;
  margin-left: 10%;
  line-height: 130px;
  font-size: 20px;
}
.Order_Content {
  height: 200px;
  width: 98%;
  margin: 20px 1% 20px 1%;
  float: left;
}
.List_Order {
  width: 100%;
  height: auto;
  border-radius: 1px;
  margin-top: 20px;
  background-color: white;
}
.Order_Detail {
  width: 80%;
  margin: 20px 10% 20px 10%;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 18px;
}
.InfoProduct {
  width: 100%;
  margin-top: 20px;
  height: 200px;
  font-size: 18px;
}
.Image {
  width: 200px;
  margin-left: 20px;
}
.InfoUser,
.Price-Product {
  width: 250px;
  text-align: right;
  font-size: 18px;
}
.pages {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.page-item {
  width: 50px;
  height: 30px;
  background-color: #cbd1d6;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
}
