@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.Title {
  height: 100px;
  width: 100%;
  background-color: white;
}

.Title-Icon {
  margin: 0px 20px 30px 12%;
}

.Title-Icon,
.Title-Content {
  margin-top: 50px;
  float: left;
  font-size: 20px;
  color: #ff961f;
}

.select_method,
.Total-Price {
  margin: 20px 0px 20px 20px;
}

.Pay-Content,
.frmPayment {
  margin: 20px 0% 0% 10%;
  width: 80%;
  border-radius: 10px;
}

.List-Product,
.Content_Method_Order {
  height: auto;
  margin: 20px 20px 20px 20px;
  border: 1px solid white;
  background-color: white;
}

.infoUser {
  margin: 20px;
  height: 100px;
  width: 95%;
  border-radius: 10px;
}

.config-product {
  height: 45px;
  font-size: 18px;
}

#config-product {
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.select-Product {
  height: 20px;
  width: 20px;
}

#select-quantity {
  height: 25px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
}

img {
  height: 150px;
  width: auto;
  border-radius: 10px;
}

.Pay-Item {
  float: left;
  width: auto;
  height: 30px;
  margin-left: 50px;
}

.btnSubmit {
  font-size: 18px;
  height: 40px;
  width: 180px;
  background-color: #cb1c22;
  border-radius: 5px;
  color: white;
  border: 0;
  cursor: pointer;
}

.wrapper {
  margin-right: 20px;
  height: 35px;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.wrapper span #num {
  font-size: 18px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

span:hover {
  cursor: pointer;
}

#num {
  width: 50px;
  text-align: center;
  height: 23px;
  border: 0px;
}

.ModalUpdate,
.ModalDelete {
  position: fixed;
  background-color: #d9dfe5;
  top: 30%;
  left: 30%;
  width: 40%;
  border-radius: 10px;
  text-align: center;
}

.modal__inner {
  width: 90%;
  position: relative;
  top: 50%;
  margin: 0% 5% 0% 5%;
}

.modal__header {
  height: 50px;
  line-height: 50px;
}

.hide {
  display: none;
}

.open-modal-update-btn {
  color: blue;
  cursor: pointer;
}

.Cancel-Update-btn,
.Update-btn {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #0168fa;
  cursor: pointer;
  margin: 10px 20px 10px 20px;
  border-radius: 5px;
}

.Cancel-Update-btn {
  background-color: gray;
}
